<div class="container-fluid employee-page">

  <div class="card employee-card shadow">

    <div class="card-header employee-header">
      Employee List
    </div>

    <div class="card-body">

      <div class="table-responsive">

        <table class="table table-bordered table-hover employee-table">

          <thead class="table-dark">

          <tr>

            <th class="text-center">#</th>

            <th>Name</th>

            <th>Contact</th>

            <th>Email</th>

            <th>Department</th>

            <th>Designation</th>

            <th>Role</th>

            <th class="text-center">Actions</th>

          </tr>

          </thead>


          <tbody>

            @for (employee of employees; track $index) {

              <tr>

                <td class="text-center">
                  {{ $index + 1 }}
                </td>

                <td>
                  {{ employee.name }}
                </td>

                <td>
                  {{ employee.contactNo }}
                </td>

                <td>
                  {{ employee.email }}
                </td>

                <td>
                  {{ getDepartmentName(employee.designationId)}}
                </td>

                <td>
                  {{ getDesignationName(employee.designationId) }}
                </td>

                <td>
                  {{ employee.role }}
                </td>

                <td class="text-center">

                  <button
                    type="button"
                    class="btn btn-warning btn-sm me-2"
                    (click)="editEmployee(employee)">

                    Edit

                  </button>

                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="deleteEmployee(employee.employeeId!)">

                    Delete

                  </button>

                </td>

              </tr>

            }


            @if (employees.length === 0) {

              <tr>

                <td
                  colspan="8"
                  class="text-center text-muted py-3">

                  No employees found.

                </td>

              </tr>

            }

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>
